.copyright {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.socialLink {
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.socialLink img {
  width: 20px;
  height: 20px;
}
