@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 7xl;
  padding-top: 8rem;
  padding-bottom: 4rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding-top: 2rem;
  }
}
